   h4.solid{
       color: rgb(43, 77, 70);
       font-family:"Fjalla One", sans-serif;
       text-align:left;
       padding-top: 5px;
       padding-bottom: 5px;
       font-size: 25px;
       
     }
     p.resume{
       padding-top: 5px;
       padding-bottom: 5px;
       color: rgb(43, 77, 70);
       font-family: "Khand", sans-serif;
       text-align: left;
       font-weight: bold;
       font-size: 25px;         
     }
     .skills li{
      font-family:  "Fjalla One", sans-serif;
      font-size: 18px;
     }
     .disc li{
      font-family: "Khand", sans-serif;
     }
     p.about{
      font-family:"Khand", sans-serif;
      color:rgb(0, 0, 0);
      font-size: 18px;
     }
     .contact{
      color: rgb(0, 0, 0);
      font-family: tahoma;
      font-size: 10px;
      line-height: 2px;
      font-weight: bold;
     }
     .position{
      color:rgb(131, 131, 131);
      font-size: 15px;
     }
     body{
        background-color:#F2F2F4;
        font-family:'Bookman Old Style';
        font-size: 18px;
        text-align: left;
     }
     ol.skills{
      list-style-type:I;
      font-family: Garamond;
     }
     ul.disc{
      list-style-type:disc;

     }
     li{
      font-family: Tahoma;
     }
     li a{
      text-decoration: none;
    }
     .sidenav {
      height: 100%;
      width: 300px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color:rgb(177, 148, 112);
      overflow-x: hidden;
      padding-top: 20px;
      text-align: center;
      font-size: 18px;
      font-family:"Fjalla One", sans-serif;
      line-height: 5px;
      color: #ffffff;
      font-weight: bold;
    }
    .sidenav h1{
      font-family:Tahoma;
      font-size: 20px;
      color:rgb(255, 255, 255);
      padding-bottom: 7px;
      font-weight: bold;
    }
    .sidenav p{
      font-family: "PT Sans Narrow", sans-serif;
      font-size: 20px;
      color:rgb(255, 255, 255);
      font-weight: lighter;
    }
    .contact p{
      font-family: "Jost", sans-serif;
      font-size: 15px;
      color:rgb(255, 255, 255);
      line-height: 80%;
      font-weight: lighter;
    }
    .main {
      margin-left: 300px; 
      font-size: 15px;
      padding: 0px 10px;
    }
    .nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    .nav li {
      float: right;
    }
    
    .nav li a {
      border-left: 1px solid #000000;
      padding: 14px 16px;
      font-size: 15px;
      color:black;
      display: block;
      position: static;
    }
    li a:hover {
      background-color: #bdbdbd72;
    }
  .sidenav img{
    border-radius: 5px;
    border: 3px solid #000000;
  }

.material-symbols-rounded{
    float:left;
    margin-left: 30px;
    margin-right: 0px;
    background-color: #ffffff;
    border-radius: 15px;
}

.contact p{
  display: flex;
  margin-left: 5px;
  font-size: 16px;
  color: black;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 50
}

.contact{
  margin-top: 340px;
}




