body{
    background-color: #f2efeb;
  }

  .text-container h1{
    font-family: "Sansita", sans-serif;
    font-size: 50px;
    text-align: left;
    text-shadow: 2px 2px 5px rgb(157, 157, 157);
    color:rgb(177, 148, 112);
    margin-left: 300px;
  }
  img{
    width: 500px;
    height: 300px;
    margin-bottom: 0px;
  }

video{
    margin-top: 0px;
}

  .container{
    padding:20px;
    background-color: #f9a8a79d;
    float:right;
    margin-right: 20px;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
  }
.text-container{
    width: 900px;
    margin-right: 10px;
    float:left;
    text-align: justify;
    margin-top:0px;
}

.text-container p{
  font-family: "Khand", sans-serif;
  font-size: 20px;
  margin-left: 20px;
}
.previous {
  background-color: rgb(218, 189, 153);
  color: black;
  padding: 20px;
  border-radius: 3px;
  margin-left: 30px;
  font-family: "Francois One", sans-serif;
}

.navi a {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  text-decoration: none;
}

.navi{
  display: inline-block;
  margin-top: 300px;
}
