body{
    background-color:#f2efeb;
    font-family:'Bookman Old Style';
    font-size: 18px;
 }
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  border-left: 1px solid #000000;
  padding: 14px 16px;
  font-size: 15px;
  color:black;
  display: block;
  position: static;
}
li a:hover {
    background-color: #bdbdbd72;
    padding: 14px 16px;
  }

  h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

div.Childhood{
  float:left;
  width: 250px;
  height: 250px;
  padding: 1px;
}
div.Childhood img {
    width: 250px;
    height: 250px;
    float: left;
    padding: 2px;
}

div.Teenager{
    float:left;
    width: 250px;
    height: 250px;
    padding: 1px;
}
div.Teenager img {
      width: 250px;
      height: 250px;
      float: left;
      padding: 2px;
}

div.College{
    float:left;
    width: 250px;
    height: 250px;
    padding: 1px;
}
div.College img {
      width: 250px;
      height: 250px;
      float: left;
      padding: 2px;
}
  